#include "config.h"

root_dir=ROOT_DIR
temp_control_process_name=TEMP_CONTROL_PROCESS_NAME
pid_control_process_name=PID_CONTROL_PROCESS_NAME
pid_suffix=PID_SUFFIX

rm -f "$root_dir/$temp_control_process_name$pid_suffix"
rm -f "$root_dir/$pid_control_process_name$pid_suffix"

set -a && . config.env && set +a
$root_dir/$temp_control_process_name &
$root_dir/$pid_control_process_name &
busybox httpd -p 8080 -h $root_dir/www
